
    <div class="header large-12 columns">
    	<div class="header_container">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="#" class="button [tiny small large]">Blog</a></li>
         <li><a href="#" class="button [tiny small large]">Archives</a></li>
         <li><a href="#" class="button [tiny small large]">About</a></li>
        </ul>
      </div>
      <h1><%= image_tag "header.png", size: "200x130" %> <small>This is my blog. It's awesome.</small></h1>
    </div>
    </div>
    <br>


 
